body {
    background-color: lightGrey;
    font-family: Arial;
}

.section {
    background-color: grey;
    color: white;
    padding: 10px;
    box-shadow: 3px 3px grey;
    margin-bottom: 20px;
}

.content {
    background-color: white;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}
